:root {
  --softpepel-color: #B18ED4; 
  --text-color: #FFFFFF;
  --bg-color: #6529A2;
  --black-color: #000000; 
}
h1 {
  font-size: 45px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: var(--softpepel-color);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  box-shadow: 0 8px 11px rgb(14, 55, 54 / 15%);
  padding: 20px 100px;
  transition: 0.5s;
  background-color: var(--bg-color);
}
.profile {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  color: var(--text-color);
}
.profile img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.profile span {
  font-size: 13px;
  font-weight: 500;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
  column-gap: 0.5rem;
}
.navbar {
  display: flex;
  column-gap: 0.5rem;
}
.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  padding: 0.5rem 1rem;
}
.navbar a:hover,
.navbar .home-active {
  background: var(--softpepel-color);
  border-radius: 5rem;
  color: var(--bg-color);
  transition: background 0.5s;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
.home-text {
  padding: 0 150px;
}
.home-text-span {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--softpepel-color);
}
.home-text h1 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
/*search*/
.search-btn {
  background-color: #DFD1F1;
  border: none;
  color: #DFD1F1;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  border: solid 1px var(--black-color);
}
.search-btn:hover {
  background: var(--bg-color);
}
.selection{
  width: 160px;
  height: 30px;
  border-radius: 10px;
  background-color: #DFD1F1;
  border: solid 1px var(--black-color);
  color: var(--black-color);
  cursor: pointer;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 30px;
}
text {
  width: 205px;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
}
.search-input {
  width: 160px;
  height: 30px;
  background-color: #DFD1F1;
  border: solid 1px var(--black-color);
  border-radius: 10px;
  float: left;
  margin-top: 30px;
}
input[type="text"]:focus {
  outline: none;
}
